<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Tahoma&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Segoe+UI&display=swap" rel="stylesheet" />
    <link href="style5.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_3131">
        <div class="v1_3132"></div>
        <div class="v1_3584">
            <div class="v1_3582">
                <div class="v1_3581">
                    <a href="inbox.html"><span class="v1_3135">Inbox</span></a>
                    <a href="contacts.html"><span class="v1_3136">Contacts</span></a>
                    <a href="advertising.html"><span class="v1_3137">Advertising</span></a>
                    <a href="listing.html"><span class="v1_3138">Listing</span></a>
                </div>
            </div>
            <div class="v1_3583">
                <div class="v1_3139"></div>
                <span class="v1_3140">2</span>
            </div>
        </div>
        <div class="v1_3587">
            <div class="v1_3142"></div>
            <div class="v1_3586">
                <a href="saved-search.html"><span class="v1_3143">Saved Search</span></a>
                <div class="v1_3585">
                    <div class="v1_3145"></div>
                    <div class="v1_3147"></div>
                </div>
            </div>
        </div>
        <div class="v1_3588">
            <div class="v1_3148"></div>
        </div>
        <div class="v1_3589">
            <div class="v1_3149"></div>
        </div>
        <div class="v1_3591">
            <a href="faq.html"><span class="v1_3152">FAQ</span></a>
        </div>
        <div class="name"></div>
        <div class="v1_3597">
            <div class="v1_3154"></div>
            <span class="v1_3155">Mesbaul Hasan ReState Ltd Gulshan Dhaka</span>
            <div class="v1_3594">
                <div class="v1_3593"></div>
                <div class="v1_3156"></div>
            </div>
            <div class="v1_3158"></div>
            <div class="v1_3160"></div>
            <div class="v1_3595">
                <div class="v1_3161"></div>
                <div class="v1_3163"></div>
            </div>
            <div class="v1_3596">
                <div class="v1_3164"></div>
            </div>
        </div>
        <span class="v1_3168"><a href="for-sale.html">For Sale</a></span>
        <span class="v1_3169"><a href="sold.html">Sold</a></span>
        <span class="v1_3170"><a href="manage-profile.html">Manage your profile</a></span>
        <span class="v1_3171"><a href="professional-info.html">Professional Information</a></span>
        <span class="v1_3172"><a href="ratings-reviews.html">Ratings & reviews (4)</a></span>
        <div class="v1_3598">
            <div class="v1_3173"></div>
            <span class="v1_3174"><a href="manage-listing.html">Manage Your Listing</a></span>
        </div>
        <div class="v1_3599">
            <div class="v1_3175"></div>
            <span class="v1_3176"><a href="add-sell.html">Add sell</a></span>
        </div>
        <div class="v1_3600">
            <div class="v1_3177"></div>
            <span class="v1_3178"><a href="request-review.html">Request a review</a></span>
        </div>
        <div class="v1_3601">
            <div class="v1_3179"></div>
            <span class="v1_3180"><a href="request-review.html">Request a review</a></span>
        </div>
        <div class="v1_3602">
            <div class="v1_3181"></div>
            <span class="v1_3182"><a href="edit-profile.html">Edit Profile</a></span>
        </div>
        <div class="v1_3604">
            <div class="v1_3185"></div>
            <span class="v1_3186"><a href="share-profile.html">Share Profile</a></span>
        </div>
        <div class="v1_3605">
            <div class="v1_3187"></div>
            <span class="v1_3188"><a href="help.html">Help</a></span>
        </div>
        <div class="v1_3619">
            <div class="v1_3618">
                <a href="luxury-apartment1.html">
                    <div class="v1_3609">
                        <div class="v1_3190"></div>
                        <div class="v1_3608">
                            <div class="v1_3607">
                                <div class="v1_3606"></div>
                                <div class="v1_3191"></div>
                            </div>
                            <span class="v1_3192">৳ 90,57,000 BDT</span>
                        </div>
                        <span class="v1_3193">Luxury Apartment</span>
                    </div>
                </a>
                <a href="luxury-apartment2.html">
                    <div class="v1_3613">
                        <div class="v1_3195"></div>
                        <div class="v1_3612">
                            <div class="v1_3611">
                                <div class="v1_3610"></div>
                                <div class="v1_3196"></div>
                            </div>
                            <span class="v1_3197">৳ 3,30,00,000 BDT</span>
                        </div>
                        <span class="v1_3198">Luxury Apartment</span>
                    </div>
                </a>
                <a href="luxury-apartment3.html">
                    <div class="v1_3617">
                        <div class="v1_3199"></div>
                        <div class="v1_3616">
                            <div class="v1_3615">
                                <div class="v1_3614"></div>
                                <div class="v1_3200"></div>
                            </div>
                            <span class="v1_3201">৳ 40,000 BDT</span>
                        </div>
                        <span class="v1_3202">Luxury Apartment</span>
                    </div>
                </a>
                <a href="luxury-apartment4.html">
                    <div class="v1_3626">
                        <div class="v1_3625">
                            <div class="v1_3624">
                                <div class="v1_3623">
                                    <div class="v1_3205"></div>
                                    <div class="v1_3622">
                                        <div class="v1_3621">
                                            <div class="v1_3620"></div>
                                            <div class="v1_3206"></div>
                                        </div>
                                        <span class="v1_3207">৳ 90,57,000 BDT</span>
                                    </div>
                                    <span class="v1_3208">Luxury Apartment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="luxury-apartment5.html">
                    <div class="v1_3631">
                        <div class="v1_3630">
                            <div class="v1_3210"></div>
                            <div class="v1_3629">
                                <div class="v1_3628">
                                    <div class="v1_3627"></div>
                                    <div class="v1_3211"></div>
                                </div>
                                <span class="v1_3212">৳ 3,30,00,000 BDT</span>
                            </div>
                        </div>
                        <span class="v1_3213">Luxury Apartment</span>
                    </div>
                </a>
                <a href="luxury-apartment6.html">
                    <div class="v1_3636">
                        <div class="v1_3635">
                            <div class="v1_3215"></div>
                            <div class="v1_3634">
                                <div class="v1_3633">
                                    <div class="v1_3632"></div>
                                    <div class="v1_3216"></div>
                                </div>
                                <span class="v1_3217">৳ 40,000 BDT</span>
                            </div>
                        </div>
                        <span class="v1_3218">Luxury Apartment</span>
                    </div>
                </a>
                <a href="luxury-apartment7.html">
                    <div class="v1_3641">
                        <div class="v1_3640">
                            <div class="v1_3220"></div>
                            <div class="v1_3639">
                                <div class="v1_3638">
                                    <div class="v1_3637"></div>
                                    <div class="v1_3221"></div>
                                </div>
                                <span class="v1_3222">৳ 40,000 BDT</span>
                            </div>
                        </div>
                        <span class="v1_3223">Luxury Apartment</span>
                    </div>
                </a>
                <a href="luxury-apartment8.html">
                    <div class="v1_3646">
                        <div class="v1_3645">
                            <div class="v1_3225"></div>
                            <div class="v1_3644">
                                <div class="v1_3643">
                                    <div class="v1_3642"></div>
                                    <div class="v1_3226"></div>
                                </div>
                                <span class="v1_3227">৳ 40,000 BDT</span>
                            </div>
                        </div>
                        <span class="v1_3228">Luxury Apartment</span>
                    </div>
                </a>
            </div>
            <div class="v1_3229"></div>
        </div>
        <span class="v1_3230"><a href="review.html">Highly likely to recommend | 5.0</a></span>
        <div class="v1_3232"></div>
        <span class="v1_3233">Name: Mesbaul Hasan Screenname: mhasan Cell phone: +8801745-855556 Member since: 02/24/2023 Real Estate Licenses: 00541574 (BD)</span>
        <div class="v1_3235"></div>
        <div class="v1_3237"></div>
        <div class="v30_4651"></div>
    </div>
</body>
</html>