<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="style4.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_381">
        <span class="v1_382">Frequently Asked Questions</span>
        <div class="v1_771">
            <div class="v1_767">
                <div class="v1_383"></div>
                <a href="#"><span class="v1_384">Question</span></a>
                <div class="v1_386"></div>
            </div>
            <div class="v1_768">
                <div class="v1_387"></div>
                <a href="#"><span class="v1_388">Question</span></a>
                <div class="v1_390"></div>
            </div>
            <div class="v1_769">
                <div class="v1_391"></div>
                <a href="#"><span class="v1_392">Question</span></a>
                <div class="v1_394"></div>
            </div>
            <div class="v1_770">
                <div class="v1_395"></div>
                <a href="#"><span class="v1_396">Question</span></a>
                <div class="v1_398"></div>
            </div>
        </div>
        <div class="v1_772">
            <div class="v1_399"></div>
            <a href="#"><span class="v1_400">Question</span></a>
            <span class="v1_401">Answer</span>
            <div class="v1_403"></div>
        </div>
        <div class="v1_787">
            <div class="v1_778">
                <div class="v1_777">
                    <a href="Home.html"><span class="v1_406">Home</span></a>
                    <a href="Buy.html"><span class="v1_407">Buy</span></a>
                    <a href="Sell.html"><span class="v1_408">Sell</span></a>
                    <a href="Rent.html"><span class="v1_409">Rent</span></a>
                </div>
            </div>
            <div class="v1_781">
                <div class="v1_411"></div>
                <div class="v1_780">
                    <a href="#"><span class="v1_412">Saved Search</span></a>
                    <div class="v1_779">
                        <div class="v1_414"></div>
                        <div class="v1_416"></div>
                    </div>
                </div>
            </div>
            <div class="v1_784">
                <div class="v1_417"></div>
                <div class="v1_783">
                    <div class="v1_782">
                        <div class="v1_419"></div>
                        <div class="v1_421"></div>
                    </div>
                    <div class="v1_422"></div>
                </div>
            </div>
            <div class="v1_786">
                <div class="v1_785">
                    <a href="#"><span class="v1_423">FAQ</span></a>
                </div>
            </div>
        </div>
        <div class="v1_424"></div>
        <div class="name"></div>
        <div class="v29_4139"></div>
    </div>
</body>
</html>