<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet" />
    <link href="style1.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v27_3383">
        <div class="v30_4140"></div>
        <div class="v30_4142"></div>
        <span class="v30_4143">Join & Connect With This Fast Growing Community</span>
        <span class="v39_1023">Email</span>
        <input type="email" class="v39_1025" />
        <span class="v39_1026">Password</span>
        <input type="password" class="v39_1028" />
        <input type="checkbox" class="v39_1029" id="terms" />
        <label for="terms">Remember Me.</label>
        <button class="v39_1031">Log In</button>
        <a href="signin.html" class="v39_1037">No Account Yet? Sign In</a>
        <div class="v39_1034"></div>
        <a href="https://www.google.com" class="v39_1036">Sign up with Google</a>
        <div class="v39_1079">
            <div class="v39_1033"></div>
            <div class="v39_1038"></div>
        </div>
    </div>
</body>
</html>