<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Tahoma&display=swap" rel="stylesheet" />
    <link href="style3.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_2044">
        <div class="v1_2443">
            <div class="v1_2442">
                <div class="v1_2441">
                    <a href="home.html"><span class="v1_2047">Home</span></a>
                    <a href="buy.html"><span class="v1_2048">Buy</span></a>
                    <a href="sell.html"><span class="v1_2049">Sell</span></a>
                    <a href="rent.html"><span class="v1_2050">Rent</span></a>
                </div>
            </div>
        </div>
        <div class="v1_2446">
            <div class="v1_2051"></div>
            <div class="v1_2445">
                <a href="saved-search.html"><span class="v1_2052">Saved Search</span></a>
                <div class="v1_2444">
                    <div class="v1_2054"></div>
                    <div class="v1_2056"></div>
                </div>
            </div>
        </div>
        <div class="v1_2449">
            <div class="v1_2057"></div>
            <div class="v1_2448">
                <div class="v1_2447">
                    <div class="v1_2059"></div>
                    <div class="v1_2061"></div>
                </div>
                <div class="v1_2062"></div>
            </div>
        </div>
        <div class="v1_2063"></div>
        <span class="v1_2064">Mesbaul Hasan ReState Ltd Gulshan Dhaka</span>
        <div class="v1_2452">
            <div class="v1_2451"></div>
            <div class="v1_2065"></div>
        </div>
        <div class="v1_2068"></div>
        <div class="v1_2070"></div>
        <div class="v1_2071"></div>
        <div class="v1_2453">
            <div class="v1_2073"></div>
            <a href="overview.html"><span class="v1_2074">Overview</span></a>
        </div>
        <a href="for-sale.html"><span class="v1_2075">For Sale</span></a>
        <a href="sold.html"><span class="v1_2076">Sold</span></a>
        <a href="rating-review.html"><span class="v1_2077">Rating & Review</span></a>
        <a href="company-info.html"><span class="v1_2078">Company Info</span></a>
        <div class="v1_2079"></div>
        <a href="about-me.html"><span class="v1_2080">About me</span></a>
        <span class="v1_2081">I am a professional, dedicated, and knowledgeable real estate agent committed to finding the perfect fit, whether its listing or selling a home, condo, or investment property for my clientele. I understand that buying and selling real estate can be stressful, and I will work hard to make my client's experience as smooth as possible with clear and constant communication and by being accessible at any time. I want to keep my clients well informed, properly educated and fully supported throughout the complex real estate process.</span>
        <div class="v1_2082"></div>
        <div class="v1_2464">
            <div class="v1_2457">
                <div class="v1_2454"><div class="v1_2083"></div></div>
                <div class="v1_2456">
                    <div class="v1_2084"></div>
                    <div class="v1_2455"><span class="v1_2085">Contact</span></div>
                </div>
            </div>
            <div class="v1_2459"><div class="v1_2458"><div class="v1_2086"></div></div></div>
            <div class="v1_2461"><div class="v1_2460"><div class="v1_2087"></div></div></div>
            <div class="v1_2463"><div class="v1_2462"><div class="v1_2088"></div></div></div>
            <span class="v1_2089">Name</span>
            <span class="v1_2090">Phone</span>
            <span class="v1_2091">Email</span>
            <span class="v1_2092">Message</span>
        </div>
        <div class="v1_2093"></div>
        <div class="v1_2466">
            <a href="faq.html"><span class="v1_2096">FAQ</span></a>
        </div>
        <div class="name"></div>
        <div class="v27_3382"></div>
        <div class="v27_4137"></div>
        <div class="v1_2066"></div>
    </div>
</body>
</html>