<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Tahoma&display=swap" rel="stylesheet" />
    <link href="style6.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_3648">
        <div class="v1_4091">
            <div class="v1_4090">
                <div class="v1_4089">
                    <a href="home.html"><span class="v1_3651">Home</span></a>
                    <a href="buy.html"><span class="v1_3652">Buy</span></a>
                    <a href="sell.html"><span class="v1_3653">Sell</span></a>
                    <a href="rent.html"><span class="v1_3654">Rent</span></a>
                </div>
            </div>
        </div>
        <div class="v1_4094">
            <div class="v1_3655"></div>
            <div class="v1_4093">
                <span class="v1_3656">Saved Search</span>
                <div class="v1_4092">
                    <div class="v1_3658"></div>
                    <div class="v1_3660"></div>
                </div>
            </div>
        </div>
        <div class="v1_4097">
            <div class="v1_3661"></div>
            <div class="v1_4096">
                <div class="v1_4095">
                    <div class="v1_3663"></div>
                    <div class="v1_3665"></div>
                </div>
                <div class="v1_3666"></div>
            </div>
        </div>
        <div class="v1_3667"></div>
        <div class="v1_4099"><a href="faq.html"><span class="v1_3670">FAQ</span></a></div>
        <div class="name"></div>
        <span class="v1_3672">* Located at:</span>
        <span class="v1_3673">* Listing for:</span>
        <span class="v1_3674">* Property Type:</span>
        <span class="v1_3675">* Number of Bedrooms:</span>
        <span class="v1_3676">* Living area square feet:</span>
        <span class="v1_3677">* Lot size:</span>
        <span class="v1_3678">* Desire Price:</span>
        <span class="v1_3679">Drag and drop to reorder. Click on a photo, top right corner, to delete it.</span>
        <span class="v1_3680">* Number of Bathrooms:</span>
        <span class="v1_3681">* Half Bathrooms:</span>
        <span class="v1_3682">* Listing Type</span>
        <div class="v1_3683"></div>
        <div class="v1_3684"></div>
        <div class="v1_3685"></div>
        <div class="v1_3686"></div>
        <div class="v1_3687"></div>
        <div class="v1_3688"></div>
        <div class="v1_3689"></div>
        <div class="v1_3690"></div>
        <div class="v1_3691"></div>
        <div class="v1_3692"></div>
        <div class="v1_3693"></div>
        <div class="v1_3694"></div>
        <div class="v1_4100"><div class="v1_3695"></div><span class="v1_3696">House</span></div>
        <div class="v1_4101"><div class="v1_3697"></div><span class="v1_3698">Apartment</span></div>
        <div class="v1_4102"><div class="v1_3699"></div><span class="v1_3700">Multi Family</span></div>
        <div class="v1_4103"><div class="v1_3701"></div><span class="v1_3702">Garage</span></div>
        <div class="v1_4104"><div class="v1_3703"></div><span class="v1_3704">TownHouse</span></div>
        <div class="v1_4105"><div class="v1_3705"></div><span class="v1_3706">Mobile House</span></div>
        <div class="v1_4106"><div class="v1_3707"></div><span class="v1_3708">Commercial</span></div>
        <div class="v1_4107"><div class="v1_3709"></div><span class="v1_3710">Land</span></div>
        <div class="v1_3711"></div>
        <div class="v1_3712"></div>
        <div class="v1_3713"></div>
        <div class="v1_3714"></div>
        <div class="v1_3715"></div>
        <div class="v1_3716"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        <span class="v1_3726">3</span>
        <span class="v1_3727">2</span>
        <span class="v1_3728">0</span>
        <span class="v1_3729">Enter your address</span>
        <span class="v1_3730">Sqft</span>
        <span class="v1_3731">Lot size</span>
        <a href="sell.html"><span class="v1_3732">Sell</span></a>
        <a href="submit.html"><span class="v1_3733">Submit</span></a>
        <span class="v1_3734">By Owner</span>
        <span class="v1_3735">By Agent</span>
        <a href="rent.html"><span class="v1_3736">Rent</span></a>
        <span class="v1_3737">Units #</span>
        <div class="v1_3738"></div>
        <span class="v1_3739">Sqft</span>
        <span class="v1_3740">Acres</span>
        <div class="v1_4108">
            <span class="v1_3741">Click to upload or drag and drop</span>
            <div class="v1_3743"></div>
        </div>
        <div class="v1_4110">
            <div class="v1_4109">
                <div class="v1_3745"></div>
            </div>
        </div>
        <div class="v30_4652"></div>
    </div>
</body>
</html>