<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v27_3383">
        <div class="v30_4140"></div>
        <div class="v30_4142"></div>
        <span class="v30_4143">Join & Connect With This Fast Growing Community</span>
        <span class="v39_1020">Username</span>
        <input type="text" class="v39_1021" />
        <span class="v39_1023">Email</span>
        <input type="email" class="v39_1025" />
        <div class="v39_1041">
            <div class="v39_1039">
                <div class="v39_1019">
                    <div class="v30_4148"></div>
                    <span class="v30_4150">Customer</span>
                </div>
            </div>
            <div class="v39_1040">
                <div class="v30_4146"></div>
                <div class="v30_4144"></div>
                <div class="v30_4152"></div>
                <span class="v30_4153">Agent</span>
            </div>
        </div>
        <span class="v39_1026">Password</span>
        <input type="password" class="v39_1028" />
        <input type="checkbox" class="v39_1029" id="terms" />
        <label for="terms">I accept the Terms & Conditions.</label>
        <button class="v39_1031">Sign Up</button></div>
        <a href="signin.html" class="v39_1037">Own an Account? Sign in</a>
        <div class="v39_1034"></div>
        <a href="https://www.google.com" class="v39_1036">Sign up with Google</a>
        <div class="v39_1079">
            <div class="v39_1033"></div>
            <div class="v39_1038"></div>
        </div>
    </div>
</body>
</html>