* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_381 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_382 {
  width: 620px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 158px;
  left: 646px;
  text-shadow: 0px 3px 3px rgba(1, 1, 1, 0.16078431904315948);
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v1_771 {
  width: 100%;
  height: 460px;
  background: url("../images/v1_771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 336px;
  overflow: hidden;
}
.v1_767 {
  width: 100%;
  height: 94px;
  background: url("../images/v1_767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_383 {
  width: 100%;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16078431904315948);
  overflow: hidden;
}
.v1_384 {
  width: 85px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 36px;
  left: 54px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 0.7900000214576721;
  text-align: left;
}
.v1_386 {
  width: 27px;
  height: 27px;
  background: rgba(141,149,152,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1191px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_768 {
  width: 100%;
  height: 94px;
  background: url("../images/v1_768.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 0px;
  overflow: hidden;
}
.v1_387 {
  width: 100%;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16078431904315948);
  overflow: hidden;
}
.v1_388 {
  width: 85px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 36px;
  left: 54px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 0.7900000214576721;
  text-align: left;
}
.v1_390 {
  width: 27px;
  height: 27px;
  background: rgba(141,149,152,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1191px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_769 {
  width: 100%;
  height: 94px;
  background: url("../images/v1_769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 0px;
  overflow: hidden;
}
.v1_391 {
  width: 100%;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16078431904315948);
  overflow: hidden;
}
.v1_392 {
  width: 85px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 36px;
  left: 54px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 0.7900000214576721;
  text-align: left;
}
.v1_394 {
  width: 27px;
  height: 27px;
  background: rgba(141,149,152,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1191px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_770 {
  width: 100%;
  height: 94px;
  background: url("../images/v1_770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 0px;
  overflow: hidden;
}
.v1_395 {
  width: 100%;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(232,232,232,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16078431904315948);
  overflow: hidden;
}
.v1_396 {
  width: 85px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 36px;
  left: 54px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 0.7900000214576721;
  text-align: left;
}
.v1_398 {
  width: 27px;
  height: 27px;
  background: rgba(141,149,152,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1191px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_772 {
  width: 100%;
  height: 200px;
  background: url("../images/v1_772.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 336px;
  overflow: hidden;
}
.v1_399 {
  width: 100%;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(24,106,165,1);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v1_400 {
  width: 85px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 46px;
  left: 56px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 0.7900000214576721;
  text-align: left;
}
.v1_401 {
  width: 100%;
  color: rgba(141,149,152,1);
  position: absolute;
  top: 86px;
  left: 56px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_403 {
  width: 27px;
  height: 5px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 1175px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_787 {
  width: 100%;
  height: 62px;
  background: url("../images/v1_787.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 533px;
  overflow: hidden;
}
.v1_778 {
  width: 407px;
  height: 24px;
  background: url("../images/v1_778.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v1_777 {
  width: 407px;
  height: 24px;
  background: url("../images/v1_777.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_406 {
  width: 56px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_407 {
  width: 36px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 121px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_408 {
  width: 34px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 242px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_409 {
  width: 44px;
  color: rgba(34,137,255,1);
  position: absolute;
  top: 0px;
  left: 363px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_410 {
  width: 44px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 363px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_781 {
  width: 189px;
  height: 46px;
  background: url("../images/v1_781.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 926px;
  overflow: hidden;
}
.v1_411 {
  width: 189px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_780 {
  width: 154px;
  height: 24px;
  background: url("../images/v1_780.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v1_412 {
  width: 130px;
  color: rgba(48,48,48,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_779 {
  width: 18px;
  height: 18px;
  background: url("../images/v1_779.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_414 {
  width: 6px;
  height: 6px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_416 {
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_784 {
  width: 62px;
  height: 62px;
  background: url("../images/v1_784.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1138px;
  overflow: hidden;
}
.v1_417 {
  width: 62px;
  height: 62px;
  background: rgba(232,235,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px rgba(0.13333334028720856, 0.5372549295425415, 1, 0.21960784494876862);
}
.v1_783 {
  width: 30px;
  height: 32px;
  background: url("../images/v1_783.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 19px;
  overflow: hidden;
}
.v1_782 {
  width: 24px;
  height: 27px;
  background: url("../images/v1_782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v1_419 {
  width: 6px;
  height: 3px;
  background: rgba(34,137,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 9px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_421 {
  width: 24px;
  height: 22px;
  background: rgba(34,137,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_422 {
  width: 18px;
  height: 18px;
  background: rgba(254,120,71,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  border-radius: 50%;
}
.v1_786 {
  width: 38px;
  height: 24px;
  background: url("../images/v1_786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 863px;
  overflow: hidden;
}
.v1_785 {
  width: 38px;
  height: 24px;
  background: url("../images/v1_785.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_423 {
  width: 38px;
  color: rgba(34,137,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_424 {
  width: 98px;
  height: 98px;
  background: url("../images/v1_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 1767px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 138px;
  border-top-right-radius: 138px;
  border-bottom-left-radius: 138px;
  border-bottom-right-radius: 138px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16078431904315948);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_4139 {
  width: 207px;
  height: 93px;
  background: url("../images/v29_4139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 47px;
  overflow: hidden;
}
