* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3648 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4091 {
  width: 407px;
  height: 24px;
  background: url("../images/v1_4091.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 533px;
  overflow: hidden;
}
.v1_4090 {
  width: 407px;
  height: 24px;
  background: url("../images/v1_4090.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4089 {
  width: 407px;
  height: 24px;
  background: url("../images/v1_4089.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3651 {
  width: 56px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3652 {
  width: 36px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 121px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3653 {
  width: 34px;
  color: rgba(30,98,232,1);
  position: absolute;
  top: 0px;
  left: 242px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3654 {
  width: 44px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 363px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_4094 {
  width: 189px;
  height: 46px;
  background: url("../images/v1_4094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 1459px;
  overflow: hidden;
}
.v1_3655 {
  width: 189px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v1_4093 {
  width: 154px;
  height: 24px;
  background: url("../images/v1_4093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v1_3656 {
  width: 130px;
  color: rgba(48,48,48,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_4092 {
  width: 18px;
  height: 18px;
  background: url("../images/v1_4092.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_3658 {
  width: 6px;
  height: 6px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_3660 {
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_4097 {
  width: 62px;
  height: 62px;
  background: url("../images/v1_4097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1671px;
  overflow: hidden;
}
.v1_3661 {
  width: 62px;
  height: 62px;
  background: rgba(232,235,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px rgba(0.13333334028720856, 0.5372549295425415, 1, 0.21960784494876862);
}
.v1_4096 {
  width: 30px;
  height: 32px;
  background: url("../images/v1_4096.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 19px;
  overflow: hidden;
}
.v1_4095 {
  width: 24px;
  height: 27px;
  background: url("../images/v1_4095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v1_3663 {
  width: 6px;
  height: 3px;
  background: rgba(34,137,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 9px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_3665 {
  width: 24px;
  height: 22px;
  background: rgba(34,137,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_3666 {
  width: 18px;
  height: 18px;
  background: rgba(254,120,71,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  border-radius: 50%;
}
.v1_3667 {
  width: 98px;
  height: 98px;
  background: url("../images/v1_3667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 1767px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 138px;
  border-top-right-radius: 138px;
  border-bottom-left-radius: 138px;
  border-bottom-right-radius: 138px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16078431904315948);
  overflow: hidden;
}
.v1_4099 {
  width: 38px;
  height: 24px;
  background: url("../images/v1_4099.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1396px;
  overflow: hidden;
}
.v1_3670 {
  width: 38px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_3672 {
  width: 117px;
  color: url("../images/v1_3672.png");
  position: absolute;
  top: 227px;
  left: 366px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3673 {
  width: 112px;
  color: url("../images/v1_3673.png");
  position: absolute;
  top: 324px;
  left: 366px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3674 {
  width: 149px;
  color: url("../images/v1_3674.png");
  position: absolute;
  top: 442px;
  left: 366px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3675 {
  width: 213px;
  color: url("../images/v1_3675.png");
  position: absolute;
  top: 581px;
  left: 366px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3676 {
  width: 227px;
  color: url("../images/v1_3676.png");
  position: absolute;
  top: 682px;
  left: 366px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3677 {
  width: 91px;
  color: url("../images/v1_3677.png");
  position: absolute;
  top: 682px;
  left: 960px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3678 {
  width: 129px;
  color: url("../images/v1_3678.png");
  position: absolute;
  top: 782px;
  left: 366px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3679 {
  width: 561px;
  color: rgba(30,98,232,1);
  position: absolute;
  top: 785px;
  left: 969px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_3680 {
  width: 219px;
  color: url("../images/v1_3680.png");
  position: absolute;
  top: 581px;
  left: 960px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3681 {
  width: 161px;
  color: url("../images/v1_3681.png");
  position: absolute;
  top: 581px;
  left: 1262px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3682 {
  width: 124px;
  color: url("../images/v1_3682.png");
  position: absolute;
  top: 327px;
  left: 1079px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3683 {
  width: 636px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 371px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1_3684 {
  width: 288px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 717px;
  left: 975px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1_3685 {
  width: 562px;
  height: 137px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 975px;
  border: 1px solid rgba(112,112,112,1);
  overflow: hidden;
}
.v1_3686 {
  width: 574px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 717px;
  left: 370px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1_3687 {
  width: 574px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 370px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1_3688 {
  width: 271px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 717px;
  left: 1266px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1_3689 {
  width: 221px;
  height: 43px;
  background: rgba(30,98,232,1);
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 370px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v1_3690 {
  width: 221px;
  height: 43px;
  background: rgba(30,98,232,1);
  opacity: 1;
  position: absolute;
  top: 911px;
  left: 370px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v1_3691 {
  width: 221px;
  height: 43px;
  background: rgba(30,98,232,1);
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 1079px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v1_3692 {
  width: 221px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 610px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v1_3693 {
  width: 221px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 1319px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v1_3694 {
  width: 461px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 1079px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1_4100 {
  width: 73px;
  height: 22px;
  background: url("../images/v1_4100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 479px;
  left: 379px;
  overflow: hidden;
}
.v1_3695 {
  width: 22px;
  height: 22px;
  background: rgba(30,98,232,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3696 {
  width: 47px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_4101 {
  width: 105px;
  height: 22px;
  background: url("../images/v1_4101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 526px;
  left: 379px;
  overflow: hidden;
}
.v1_3697 {
  width: 22px;
  height: 22px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3698 {
  width: 79px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_4102 {
  width: 116px;
  height: 22px;
  background: url("../images/v1_4102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 479px;
  left: 674px;
  overflow: hidden;
}
.v1_3699 {
  width: 22px;
  height: 22px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3700 {
  width: 90px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_4103 {
  width: 80px;
  height: 22px;
  background: url("../images/v1_4103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 479px;
  left: 969px;
  overflow: hidden;
}
.v1_3701 {
  width: 22px;
  height: 22px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3702 {
  width: 54px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_4104 {
  width: 114px;
  height: 22px;
  background: url("../images/v1_4104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 479px;
  left: 1264px;
  overflow: hidden;
}
.v1_3703 {
  width: 22px;
  height: 22px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3704 {
  width: 88px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_4105 {
  width: 127px;
  height: 22px;
  background: url("../images/v1_4105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 526px;
  left: 674px;
  overflow: hidden;
}
.v1_3705 {
  width: 22px;
  height: 22px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3706 {
  width: 101px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_4106 {
  width: 114px;
  height: 22px;
  background: url("../images/v1_4106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 526px;
  left: 969px;
  overflow: hidden;
}
.v1_3707 {
  width: 22px;
  height: 22px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3708 {
  width: 88px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_4107 {
  width: 63px;
  height: 22px;
  background: url("../images/v1_4107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 526px;
  left: 1264px;
  overflow: hidden;
}
.v1_3709 {
  width: 22px;
  height: 22px;
  background: rgba(20,57,91,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_3710 {
  width: 37px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v1_3711 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 370px;
  border-radius: 50%;
}
.v1_3712 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 973px;
  border-radius: 50%;
}
.v1_3713 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 1276px;
  border-radius: 50%;
}
.v1_3714 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 456px;
  border-radius: 50%;
}
.v1_3715 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 1059px;
  border-radius: 50%;
}
.v1_3716 {
  width: 42px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 614px;
  left: 1362px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_3726 {
  width: 11px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 622px;
  left: 429px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3727 {
  width: 11px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 622px;
  left: 1032px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3728 {
  width: 11px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 622px;
  left: 1335px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_3729 {
  width: 126px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 269px;
  left: 393px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 15px;
  opacity: 0.5;
  text-align: left;
}
.v1_3730 {
  width: 27px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 726px;
  left: 393px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 15px;
  opacity: 0.5;
  text-align: left;
}
.v1_3731 {
  width: 51px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 726px;
  left: 994px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 15px;
  opacity: 0.5;
  text-align: left;
}
.v1_3732 {
  width: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 387px;
  left: 467px;
  font-family: Tahoma;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_3733 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 924px;
  left: 454px;
  font-family: Tahoma;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_3734 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 387px;
  left: 1154px;
  font-family: Tahoma;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v1_3735 {
  width: 68px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 387px;
  left: 1397px;
  font-family: Tahoma;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v1_3736 {
  width: 36px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 387px;
  left: 703px;
  font-family: Tahoma;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_3737 {
  width: 49px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 269px;
  left: 1101px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 15px;
  opacity: 0.5;
  text-align: left;
}
.v1_3738 {
  width: 130px;
  height: 28px;
  background: rgba(30,98,232,1);
  opacity: 1;
  position: absolute;
  top: 722px;
  left: 1272px;
  border: 1px solid rgba(112,112,112,1);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v1_3739 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 727px;
  left: 1324px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_3740 {
  width: 36px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 727px;
  left: 1442px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 15px;
  opacity: 0.5;
  text-align: left;
}
.v1_4108 {
  width: 262px;
  height: 32px;
  background: url("../images/v1_4108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 869px;
  left: 1125px;
  overflow: hidden;
}
.v1_3741 {
  width: 215px;
  color: rgba(20,57,91,1);
  position: absolute;
  top: 7px;
  left: 48px;
  font-family: Tahoma;
  font-weight: Regular;
  font-size: 15px;
  opacity: 0.5;
  text-align: left;
}
.v1_3743 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
}
.v1_4110 {
  width: 13px;
  height: 17px;
  background: url("../images/v1_4110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 827px;
  left: 393px;
  overflow: hidden;
}
.v1_4109 {
  width: 13px;
  height: 17px;
  background: url("../images/v1_4109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3745 {
  width: 13px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(112,112,112,1);
}
.v30_4652 {
  width: 207px;
  height: 93px;
  background: url("../images/v30_4652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 43px;
  overflow: hidden;
}