<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="style2.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_4917">
        <div class="v1_4919"></div>
        <div class="v1_4920"></div>
        <div class="v1_4921"></div>
        <span class="v1_4922">Let’s find your Dream Home..</span>
        <span class="v1_4923">Empowering your real estate journey: Buy, sell, rent, and finance with ease on our comprehensive marketplace.</span>
        <div class="v1_5827">
            <div class="v1_5820">
                <div class="v1_5819">
                    <a href="home.html"><span class="v1_4926">Home</span></a>
                    <a href="buy.html"><span class="v1_4927">Buy</span></a>
                    <a href="sell.html"><span class="v1_4928">Sell</span></a>
                    <a href="rent.html"><span class="v1_4929">Rent</span></a>
                </div>
            </div>
            <div class="v1_5823">
                <div class="v1_4930"></div>
                <div class="v1_5822">
                    <a href="saved-search.html"><span class="v1_4931">Saved Search</span></a>
                    <div class="v1_5821">
                        <input type="text" placeholder="Search..." class="v1_5822-input">
                        <div class="v1_4935"></div>
                    </div>
                </div>
            </div>
            <div class="v1_5826">
                <div class="v1_4936"></div>
                <div class="v1_5825">
                    <div class="v1_5824">
                        <div class="v1_4938"></div>
                        <div class="v1_4940"></div>
                    </div>
                    <div class="v1_4941"></div>
                </div>
            </div>
        </div>
        <span class="v1_4942"> The most beautiful exclusive properties and luxury apartments</span>
        <div class="v1_5829">
            <div class="v1_4943"></div>
            <div class="v1_5828">
                <div class="v1_4945"></div>
            </div>
        </div>
        <div class="v1_4948"></div>
        <span class="v1_4949">Useful Links</span>
        <span class="v1_4950">
            <a href="faq.html">FAQs</a>
            <a href="terms.html">Term & Condition</a>
            <a href="privacy.html">Policy & Privacy</a>
        </span>
        <span class="v1_4951">86 Rd No. 8A Dhanmondi, Dhaka 1205</span>
        <span class="v1_4952">Help?</span>
        <span class="v1_4953">Address</span>
        <span class="v1_4954">
            <a href="about.html">About</a>
            <a href="partners.html">Partners</a>
            <a href="contact.html">Contact</a>
        </span>
        <div class="v1_5834">
            <div class="v1_4955"></div>
            <div class="v1_4957"></div>
        </div>
        <div class="v1_5835">
            <div class="v1_4958"></div>
            <div class="v1_4960"></div>
        </div>
        <div class="v1_5836">
            <div class="v1_4961"></div>
            <div class="v1_4963"></div>
        </div>
        <div class="v1_5133"></div>
        <div class="v1_5939"></div>
        <div class="v27_4138"></div>
        <div class="v27_4136"></div>
        <div class="v1_5937">
            <a href="faq.html"><span class="v1_5136">FAQ</span></a>
        </div>
        <span class="v30_4654">© Copyright 2024, Propify</span>
    </div>
</body>
</html>